# Java / Maven
**/target/
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/

# IDE
.vscode/
.idea/
*.iml

# Gradle / Android
.gradle/
.android/
build/
*.apk
*.aar

# Logs
*.log
hs_err_pid*.log
replay_pid*.log

# Secrets locais
*.env
API_util/src/main/resources/application.properties
API_util/src/main/resources/application-local.properties
