<div class="toast">
  <div class="toast-header">
    <mat-icon class="bell-icon">alarm</mat-icon>
    <span class="toast-title">Lembrete</span>
    <button mat-icon-button class="close-btn" (click)="fechar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="toast-body">
    <div class="toast-conteudo">{{ nota.conteudo }}</div>
    <div class="toast-atividade" *ngIf="nota.atividadeTitulo">
      <mat-icon>assignment</mat-icon> {{ nota.atividadeTitulo }}
    </div>
  </div>
</div>
